<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="theme-color" content="#ffffff">
  <title>{% block title %} AIOZ Demonstration {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-control" content="public">
  <meta name="keywords" content="AIOZ Demonstration">
  <meta name="description" content="AIOZ Demonstration">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/developer.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cropper.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
  
</head>

<body>
  <header class="header-fixed">
    <div class="header-limiter">
      <h1><a href="/"><img class="logo" src="{{ url_for('static', filename='img/aioz.svg') }}" width="100px" alt="logo"></a></h1>
    </div>
    {% if session.logged_in %}
    <div class="logout" style="float: right;">
        <a style="color: black;" href="{{ url_for('logout') }}">Logout</a>
    </div>
    {% endif %}
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <div class="footer">
    <div class="footer-left">
      <p>Copyright © 2019 <a href="#">AIOZ PTE LTD</a>. All rights reserved.</p>
    </div>
		<div class="footer-right">
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-youtube-play"></i></a>
			<a href="#"><i class="fa fa-github"></i></a>
		</div>
  </div>
  <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
  <script src="{{ url_for('static', filename='js/developer.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/cropper.min.js') }}"></script>
  {% block script %}
  {% endblock %}
</body>

</html>