{% extends "base.html" %}
{% block title %}AIOZ Demonstration{% endblock %}
{% if session.logged_in %}
    {% block content %}
    <div id="divSpinner" class="overlay_bg" style="display: none;">
        <div class="spinner"></div>
    </div>
    <form id="categories" name="algorithm_form" style="min-height: 100px;" action="{{ url_for('job') }}" method=post>
        <div class="select-container">
            <select id="algorithm" name="algorithm" class="select-css">
                {% for opt in options %}
                    {% if opt.name == task %}
                        <option value="{{ opt.name }}" data-bb="{{ opt.bb }}" selected>{{ opt.name }}</option>
                    {% else %}
                        <option value="{{ opt.name }}" data-bb="{{ opt.bb }}">{{ opt.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <input id="dataX" name="dataX" type="hidden" value="0">
        <input id="dataY" name="dataY" type="hidden" value="0">
        <input id="dataWidth" name="dataWidth" type="hidden" value="0">
        <input id="dataHeight" name="dataHeight" type="hidden" value="0">
        <div class="submit-container">
            <button id="btnSubmit" class="btn-upload" type="submit"><span>Process</span></button>
        </div>
    </form>
    <div class="bbox-container" style="display: none;">
        <p id="bbox-text">Capture then draw bounding box around object!</p>
        <button type="button" class="btn btn-primary" style="margin-bottom: 10px;" onclick="captureImage()">Capture Image</button>
        <img id="bbox-image" width="960px" style="display: block;margin: 0 auto;"/>
    </div>
    <div class="container mt-5" style="width: 100%;text-align: center;">
        <img id="cam" src=""></img>
        <video width="1280" height="720" id="live" autoplay style="visibility:hidden;width:0;"></video>
    </div>
    {% endblock content %}

    {% block script %}
    <script src="{{ url_for('static', filename='js/main.huong.js') }}"></script>
    {% endblock %}
{% endif %}